a {
  color: #fff;
  text-decoration: none;
}

.open {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
  }
  span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    left: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
    &:nth-child(1) {
      margin-top: 10px;
      z-index: 9;
    }
    &:nth-child(2) {
      margin-top: 25px;
    }
    &:nth-child(3) {
      margin-top: 40px;
    }
  }
}
.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  position: absolute;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 0.8) 0%,
    rgba(253, 29, 29, 0.8) 50%,
    rgba(252, 176, 69, 0.8) 100%
  );
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
  li {
    display: block;
    float: left;
    clear: both;
    height: auto;
    margin-left: 160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:first-child {
      margin-top: 180px;
    }
    &:nth-child(1) {
      -webkit-transition-delay: 0.05s;
    }
    &:nth-child(2) {
      -webkit-transition-delay: 0.1s;
    }
    &:nth-child(3) {
      -webkit-transition-delay: 0.15s;
    }
    a {
      color: #fff;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-size: 30px;
      width: 100%;
      display: block;
      float: left;
      line-height: 50px;
      font-weight: 700;
    }
  }
}

.oppenned {
  .sub-menu {
    opacity: 1;
    height: 500px;
    width: 500px;
  }
  span:nth-child(2) {
    overflow: visible;
  }
  span:nth-child(1),
  span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
  }
  span:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(12px);
  }
  span:nth-child(2) {
    height: 500px;
    width: 500px;
    left: -200px;
    top: -140px;
    border-radius: 50%;
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 0.8) 0%,
      rgba(253, 29, 29, 0.8) 50%,
      rgba(252, 176, 69, 0.8) 100%
    );
  }
  span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
  }
  li {
    margin-left: 168px;
  }
  .nav-tittle {
    position: fixed;
    left: 100px;
    top: -4px;
    font-size: 45px;
    color: white;
    z-index: 120;
  }
}
.nav-tittle {
  position: fixed;
  left: 100px;
  top: -4px;
  font-size: 45px;
  color: white;
  z-index: 120;
}
